# Virtual Environment
venv/
.venv/

# Node Modules
node_modules/

# Environment Variavles
*.env*
*.env
.env*

# Python Bytecode
__pycache__/

# Project Assets
assets/
public/

# Pytest Cache
.pytest_cache/

# Dataset Directory
dataset/

# Archived Files
archive.txt

# Numpy Files
*.npy
*.npz

# results
results/